// nextflow.config
profiles {
  standard {
    process.executor = 'local'
    manifest.name = 'nextflow-cosine'
    params.outdir = 'results'
    params.method = 'cosine'
  }
  docker {
    process.executor = 'local'
    docker.enabled = true
    params.outdir = 'results'
  }
  conda {
    process.executor = 'local'
    conda.enabled = true
    params.outdir = 'results'
  }
  test {
    process.executor = 'local'
    params.expr = "data/test_expression.csv"   // NOTE: main.nf expects params.expr
    params.outdir = "results"
    params.method = 'cosine'
  }
}
params {
    input = 'test_expression.csv'
    min_gene_mean = 0.0
    sample_cols = []
}
