profiles {
  standard {
    process.executor = 'local'
    manifest.name = 'nextflow-cosine'
    params.outdir = 'results'
  }
  docker {
    process.executor = 'local'
    docker.enabled = true
    params.outdir = 'results'
  }
  conda {
    process.executor = 'local'
    conda.enabled = true
    params.outdir = 'results'
  }
}
